.orange{
    background-color: orange;
}
.blue{
    background-color: blue;
}
.green{
    background-color: green;
}
.yellow{
    background-color: yellow;
}
.red{
    background-color: red;
}
.bold{
    font-weight: bolder;
}